body {
    font-family: Centaur;
    background: url(C:\Users\legra\OneDrive\Desktop\amethystvein-guide\src\assets\rock.jpg);
    font-size:0.8em;
    color: #fff;
    font-weight: normal;
    margin:0;
    padding:0;
}